spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    password: postgres
    username: postgres
    url: jdbc:postgresql://localhost/orderdb
  application:
    name: order-service
  jpa:
    hibernate:
      ddl-auto: update
server:
    port: 8080
